<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Java people</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor bootstrap y iconos -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!--efecto deslizante-->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- Carrusel de texto-->
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body class="/">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <h1 class="d-flex align-items-center">Java People</h1>
        <img src="assets/img/logo.png" alt=""> 

      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/registrate">Registrame</a></li>
          <li><a href="/cursosDisponibles">Cursos Disponibles</a></li>
          <li><a href="/homepanel">Mi Panel</a></li>
          <li><a href="/logout">Cerrar Sesion</a></li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">¿Que es Java People?</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Es la única iniciativa país que integra a las empresas, instituciones de formación y gobierno para desarrollar nuevas capacidades en las personas, en sintonía con las demandas de la economía digital, generando más oportunidades para acceder a empleos de calidad.</p>
          </blockquote>
          <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <a href="/registrate" class="btn-get-started">Inscribete</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Por qué elegirnos Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Por qué elegirnos</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('assets/img/contenido.jpg')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Únete a la comunidad de aprendizaje más grande de Latinoamérica</h3>
                      <p>Clases online en vivo dictadas por referentes de la industria, enfoque 100% práctico, mentorías personalizadas y acceso a una comunidad de +100.000 estudiantes.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">La mejor educación online a tu alcance</h3>
                    <h4 class="mb-3">Amet cumque nam sed voluptas doloribus iusto. Dolorem eos aliquam quis.</h4>
                    <p>Dolorem quia fuga consectetur voluptatem. Earum consequatur nulla maxime necessitatibus cum accusamus. Voluptatem dolorem ut numquam dolorum delectus autem veritatis facilis. Et ea ut repellat ea. Facere est dolores fugiat dolor.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Profesores expertos</h3>
                    <p>Aprende interactuando con líderes de gran trayectoria en las empresas de tecnología más innovadoras a nivel global.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Aprende junto a tus compañeros</h3>
                    <p>Está demostrado que aprender en grupo es más eficiente y motivador. El networking con tus compañeros de clase ayuda a que puedas tener nuevas ideas y hacer mejores proyectos.

                      •Clases en grupo
                      
                      •Canales de chat
                      
                      •Foro privado</p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->





    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nuestros Cursos</h2>

        </div>

        <div class="row gy-5 slides position-relative justify-content-center"  data-aos="fade-up" data-aos-delay="100">
	           	<div class="slides-3 swiper">
              	<div class="swiper-wrapper">
              	<div class="swiper-slide" th:each="cur : ${cursos}">
	           <div class=" item post-box" >
	             <div class="post-img"><img th:src="${cur.imagen}" height="250px" class="img" alt=""></div>
	             <div class="meta">
	               <span class="post-author">Inicia</span>
	               <span class="post-date">[[${cur.fecinicio}]]</span>
	               <span class="post-author"> Termina</span>
	               <span class="post-date">[[${cur.fectermino}]]</span>
	             </div>
              		<h3 class="post-title">[[${cur.nombre}]]</h3>
               		<p>[[${cur.descripcion}]]</p>
						<div class="col-6 text-center">
               			<a th:href="@{/obtiene/{id}(id=${cur.id})}" class="btn btn-primary">Ver </a>	           
               			</div>	            </div>
	            </div>
	            <div class="swiper-pagination"></div>

	            </div>
	             <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
	        </div>
        </div>

      </div>
    </section><!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-7 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <span>Java People</span>
              <img src="assets/img/logo.png" alt=""> 
            </a>
            <p>Es la única iniciativa país que integra a las empresas, instituciones de formación y gobierno para desarrollar nuevas capacidades en las personas, en sintonía con las demandas de la economía digital, generando más oportunidades para acceder a empleos de calidad.</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links de Utilidad</h4>
            <ul>
              <li><a href="/" class="active">Home</a></li>
	          <li><a href="/registrate">Registrame</a></li>
	          <li><a href="/cursosDisponibles">Cursos Disponibles</a></li>
	          <li><a href="/homepanel">Mi Panel</a></li>
	          <li><a href="/logout">Cerrar Sesion</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactanos</h4>
            <p>
              Avenida Siempreviva #742 <br>
              Springfiedl<br>
              United States <br><br>
              <strong>Telefono:</strong> (011) 4811-5733<br>
              <strong>Email:</strong> Java-peole@java-people.cl<br>
            </p>

          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>